{
	"bracketSpacing": true,
	"auto_format_on_save": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"singleQuote": true,
	"semi": true,
	"newline-per-chained-call": false,
	"trailingComma": "es5"
}
